@use "../../presets" as *;
@use "../../mixins" as *;

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100vh - 100px);
}

%control {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include lg-min {
    cursor: pointer;
  }
}

.control {
  &-pause {
    top: calc(50% - 16vh);
    left: calc(50% - 16vh);
    height: 0;
    padding: 0;
    transition: opacity 0.25s ease-out;
    opacity: 0;

    @extend %control;

    &:hover,
    &:focus {
      transition: opacity 0.5s ease-in 0.5s;
      opacity: 1;
      text-shadow: 0 0 30px rgba($color-light, 0.3);
    }

    span {
      position: absolute;
      display: block;
      transform: translate(50%, 50%);
      opacity: 0;
    }
  }

  &-prev {
    left: 0;
    width: 10%;

    @extend %control;

    &:hover,
    &:focus {
      color: white;
    }
  }

  &-next {
    right: 0;
    width: 10%;

    @extend %control;

    &:hover,
    &:focus {
      color: white;
    }
  }
}