@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {

  &__list {
    margin: 0;
    gap: 30px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }

  &__link {
    position: relative;
    padding: 7px 50px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
  }
}